.container {
  height: 70vh;
  width: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 60px;
  background-color: grey;
  border: 3px solid black;
  margin: 10px;
}

#grey {
  background-color: gray;
}
#yellow {
  background-color: yellow;
}
#blue {
  background-color: blue;
  color: white;
}
#black {
  background-color: black;
  color: white;
}
